
.boxFrend {
    height: 150px;
    margin-top: 15px;
    background: #ffffff;
    float: left;
    border: 2px solid #333;
    left: 50px;
}

.boxImgFriend {
    height: 90%;
    margin-top: 8px;
}

.imgFriend {
    height: 130px;
    width: 118px;
    margin-left: -15px;
    border-radius: 10px;
    border: 1px solid #333;
}

.infoFrend {
    height: 90%;
    margin-top: 8px;
    padding-left: 5px;
}

.nameFrend {
    font-size: 18px;
    text-align: center;
    
}

.sendMassege {
    text-align: center;
    text-decoration: none;
    color: #333;

}
.sendMassege:hover {
    text-align: center;
    text-decoration: none;
}
@media all and (max-width: 1200px) and (min-width:990px){
    .infoFrend {
        height: 90%;
        margin-top: 8px;
        padding-left: 40px !important;
    }
}
.modalImg {
    width: 100%
}
